server:
  port: 8080

spring:
  application:
    name: greeting-service

  cloud:
    config:
      enabled: false

greeting-service:
  greeting: "Ready"
  default-value: "World"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
